<!DOCTYPE>

<html>
<head>
    <title> 크리스마스 트리 그려요!</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="크리스마스 트리 그려요!">
    <meta name="keywords" content="Tree,DrawingChristmasTree,크리스마스트리,크리스마스트리그리기,크리스마스트리그리기프로그램,크리스마스트리그리기사이트,캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/christmas.css">
    <script type="text/javascript" src="js/christmas.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/snowfall.jquery.js"></script>
</head>
<body>
    <script type='text/javascript'> 
        $(document).ready(function(){            
            $(document).snowfall({deviceorientation : true, round : true, minSize: 1, maxSize:8,  flakeCount : 250});
        });
    </script>
    <!-- Christmas Page -->
    <div id ="third_page">
        <table id="drawgraph_table">
        <tr>
            <div id = "linking">
                <a href="christmas" class="kyaryunha_link"><i>ChristmasTree</i></a>
                <a href="christmas_introduce" class="kyaryunha_link"><i>Introduce</i></a>
                <a href="christmas_manual" class="kyaryunha_link"><i>Manual</i></a> 
                <a href="kyaryunha"class="kyaryunha_link"><i>Kyaryunha</i></a>
            </div>

            <td width="16%"></td>
            <td>
                <span id="info_title">Manual</span><br>

                <span id="info_info">
                        아 귀찮은데 누가 대신 써줄 분 없나요 ?<br>
                        메뉴얼은 나중에 사이트 전체적으로 완성 끝나갈 때 작성할게요 <br>
                </span>
            </td>
        </tr>
       </table>
   </div>
</body>
</html>
