<!DOCTYPE>

<html>
<head>
    <title>Downloads KyaRyunHa</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="다운로드 목록입니다">
    <meta name="keywords" content="캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/thisiscss.css">
    <script type="text/javascript" src="js/thisisjavascript.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <!-- Downloads -->
  <div id ="general_page" onload="downloadfile()">
        <table id="arithmetic_table">
        <tr height="5%">
        <tr height="30%">
            <td width="16%"></td>
            <td>
                   <span id="arithmetic_title">Downloads<br></span>
                   <span id="arithmetic_info">
                       현재 다운로드 할 수 있는 파일들, 목록은 수시로 변경될 수 있습니다.<br>
                       <a id="contact_link" href="storage/DrawGraphAndChristmasTree.pdf" download > - Draw Graph And Christmas Tree </a> <br>
                       <a id="contact_link" href="storage/pagestyleandtitle.zip" download > - 2019 KTUG Workshop - pagestyles </a> <br>
                       <br>
                   </span>
            </td>
       </tr>
       </table>
   </div>

</body>
