<!DOCTYPE>

<html>
<head>
    <title>귀여운 그래프 그려요!</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="귀여운 그래프 그려요!">
    <meta name="keywords" content="Graph,DrawingGraph,그래프,그래프그리기,그래프그리기프로그램,그래프그리기사이트,캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/drawgraph.css">
    <script type="text/javascript" src="js/drawgraph.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <!-- Graph Page -->
    <div id ="third_page">
        <table id="drawgraph_table">
        <tr>
            <div id = "linking">
                <a href="drawgraph" id="kyaryunha_link"><i>DrawGraph</i></a>
                <a href="drawgraph_introduce" id="kyaryunha_link"><i>Introduce</i></a>
                <a href="drawgraph_upgrade" id="kyaryunha_link"><i>Upgrade</i></a> 
                <a href="kyaryunha" id="kyaryunha_link"><i>Kyaryunha</i></a>
            </div>

            <td width="16%"></td>
            <td>
                <span id="info_title">Upgrade</span><br>

                <span id="info_info">
                        업데이트 예정의 목록입니다<br>
                        언제든지 추가될 수 있고 삭제될 수 있습니다<br>
                        <br>
                        - 캔버스 배경 색상 투명 선택<br>
                        - Directed Graph 그리기<br>
                        - Upload Image를 이용해 배경 이미지 업로드<br>
                        - Upload Text를 이용해 이전에 그렸던 그래프 편집<br>

                </span>
            </td>
        </tr>
       </table>
   </div>
</body>
</html>
