<!DOCTYPE>

<html>
<head>
    <title>Computer Lesson</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="과외합니다.">
    <meta name="keywords" content="캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/education.css">
    <script type="text/javascript" src="js/thisisjavascript.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
        <div id = "p25">
        </div>
        
        <tr>
            <div id="kyaryunha_scroller">
                <div class="scroll_container">
                    <div class="scroller"></div>
                </div>
            </div>
        </tr>
       <div id ="education_page">
            <table id="education_table">
            <tr height="5%">
            <tr>
                <td width="16%"></td>
                <td>
                    <span id="education_title">Computer Lesson<br></span>
                    <span id="education_info">
                            <br>
                            <span id="name_hilight">KYARYUNHA</span>
                            <br>
                            <br>2016<br>
                            KOI 한국 정보올림피아드 장려상 ( 전국 167등 )<br>
                            이화여대 여고생 프로그래밍 대회 우수상<br>
                            <br>2017<br>
                            KOI 한국 정보올림피아드 은상 ( 전국 29등 )<br>
                            NYPC 넥슨 청소년 프로그래밍 챌린지 본선 진출 TOP 50<br>
                            <br>2018<br>
                            APIO 아시아 태평양 정보올림피아드 국내 23등 & 아시아태평양 308등<br>
                            NYPC 넥슨 청소년 프로그래밍 챌린지 본선 진출 TOP 50<br>
                            충북과학고등학교 컴퓨터 동아리 EXE 회장<br>
                            한양대학교, 이화여자대학교 SW전형 최초합<br>
                            <br>
                            <br>
                            <hr align="left" color="skyblue" width="40%" size="3%">
                            <Br>

                            대상: 중1~예비 고1, 그 외도 가능하지만 중1~고1이 받는게 가장 효과가 좋을거라 생각합니다.<br>
                            <br>
                            지역: 청주시 / 율량동 근처<br>
                            <br>
                            ( 도보는 율량, 사천, 주중, 내덕까지  /  덕성초등학교 정류장에서 직행버스 있다면 적당히 먼 동네까지는 OK )<br>
                            <br>
                            과외시간대: 저녁 시간! 입시 끝난 전 늦게 자서 늦게 일어납니다 ! 6시~11시 아무 때나 상관 없어요 ~ 먼 곳이라면 버스 끊기기 전 시간까지면 가능합니다.<br>
                            <br>
                            과외 방식: <br>
                            C++ 대한 설몇 및 실습, 문제 풀이, 나가길 원하는 대회에 맞게 여러 알고리즘 수업<br>
                            제가 3월 이후에 서울에서 내려오지 않고 살지, 아니면 청주 간간히 내려올지 모르겠어서 일단 2월까지만 수업을 합니다~<br>
                            3월 이후로는 학생 혼자서 무엇을 공부해야할지 안목이 길러지도록 수업을 진행할 예정입니다 :D<br>
                            <br>
                            비용: <br>
                            기본적으로 2시간 정도 생각하지만, 조정 가능합니다 ~ <br>
                            율량동 지역일 경우 10% 할인해 드립니다. 가까운게 좋아요.<br>
                            <br>
                            1인 개인 과외 ( 시간당 3만원 )<br>
                            주 1회, 2시간, 4회에 24만원<br>
                            주 2회, 2시간, 8회에 48만원<br>
                            주 3회, 2시간, 12회에 72만원<br>
                            <br>
                            2인 팀 과외 ( 시간당 전체 4만원 / 각각 2만원 )<br>
                            주 1회, 2시간, 4회에 32만원 / 각각 16만원<br>
                            주 2회, 2시간, 8회에 64만원 / 각각 32만원<br>
                            주 3회, 2시간, 12회에 96만원 / 각각 48만원<br>
                            <br>
                            3인 팀 과외 ( 시간당 전체 4.8만원 / 각각 1.6만원)<br>
                            <br>
                            1~2팀만 받을 예정입니다 :D<br>
                            통장의 사정에 따라 2~3팀까지 받을 수도 있지만 가능성이 낮습니다.<br>
                            <br>
                            과외 비용이 살짝 비싼 편입니다.<br>
                            말이 빠른 편이기 때문에 시간 당 밀도 있는 수업을 할 것이고,<br>
                            1월~2월동안 학생이 의지가 있다면, 앞으로 쉽게 독학할 수 있게 가르쳐 놓을 예정입니다.<br>
                            컴퓨터는 과외보다는 독학이라고 생각합니다.<br>
                            하지만 길을 모르는 처음에는 누군가가 경로를 알려주는게 효율적이라고 생각합니다.<br>
                            세상에 왕도는 없습니다. 하지만 굳이 가지 않아도 되는 길과 평범한 길, 그리고 비교적 빠른 길이 있습니다.<br>
                            평범한 길을 열심히 가는 것이 빠른 길을 천천히 가는 것보다는 좋겠지만,<br>
                            빠른 길을 열심히 가는 것이 가장 효율적입니다.<br>
                            학생은 열정을 준비하신다면, 비교적 헤매지 않고 갈 수 있는 길을 찾아주며 도와주는 과외를 하고 싶습니다.<br>
                            010 - 3033 - 5590 ( 문자 부탁드립니다~ )<br>
                            </br>
                    </span>
            </td>
        </tr>
        </table>
   </div> 
</body>
</html>
