<!DOCTYPE>

<html>
<head>
    <title>Sleep Computer</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="원하는 색의 화면이 나오는 사이트에요">
    <meta name="keywords" content="단색 화면">
    <link rel="stylesheet" type="text/css" href="css/thisiscss.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/thisisjavascript.js"></script>

</head>

<body onload="getParameterByName()">
  <script>
  </script>
</body>
