<!DOCTYPE>

<html>
<head>
    <title>Arithmetic Sequence Game Explanation</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="수열게임 설명서에요!">
    <meta name="keywords" content="캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/thisiscss.css">
    <script type="text/javascript" src="js/thisisjavascript.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <!-- Arithmetic Sequence Game Explanation -->
  <div id ="general_page">
        <table id="arithmetic_table">
        <tr height="5%">
        <tr height="30%">
            <td width="16%"></td>
            <td>
                   <span id="arithmetic_title">Arithmetic Sequence Game<br></span>
                   <span id="arithmetic_info">
                       Arithmetic Sequence Game은 귀여운 수열 게임이에요! <br>
                       <br>
                       총 6*6 줄로 이루어져 있으며, 처음에는 화면에 1줄만 표시되요 <br>
                       숫자는 1부터 20까지의 숫자만 나와요<br>
                       두 개 이상의 칸을 선택하면, 두 칸의 숫자가 <교환>되요 <br>
                       next 버튼을 누르면 다음 줄로 이동할 수 있으며 <br>
                       다음 줄로 넘어갈 시, 이전 줄에선 더 이상 <교환> 작업을 할 수 없어요 <br>
                       <br>
                       점수는 세로로 세 개 이상의 칸이 등차 수열을 이룬다면, 해당 칸의 숫자를 모두 더해요 <br>
                       2,4,6,5,4... 이런 경우 6은 (2,4,6), (6,5,4)에 중복으로 속하는데,<br>
                       그런 경우 중복으로 더해주면 되요!<br>
                       <br>
                       세로로 세 개 이상의 칸이 등차 수열을 이루는<br>
                       모든 등차 수열의 합을 합친 것이 너의 점수가 되요<br>
                       네 개의 칸이 등차 수열을 이룬다면 20점, 다섯 개의 칸이 등차 수열을 이룬다면 40점, 여섯 개의 칸이 등차 수열을 이룬다면 60점의 보너스 점수가 있어요!<br>
                       <br>
                       더 높은 점수를 내고 싶다면, 생각을 하세요!<br>
                       즐거운 게임이 되기를 바라요!<br>
                   </span>
            </td>
       </tr>
       </table>
   </div>
   <!-- Arithmetic Sequence Game Tip -->
   <div id ="general_page">
         <table id="arithmetic_table">
         <tr height="5%">
         <tr height="30%">
             <td width="16%"></td>
             <td>
                    <span id="arithmetic_title">Game Tip<br></span>
                    <span id="arithmetic_info">
                       Tip은 작성중이에요<br>
                       추가하고 싶은 Tip이나 수정하고 싶은 Tip이 있다면 타당한 이유와 함께 kyaryunha에게 알려주세요<br>
                       타당하다고 생각되면 닉네임과 함께 소중한 Tip을 다른 사람들도 알 수 있게 올릴게요! <br>
                       닉네임은 개인 정보일 수도 있으므로 본인의 요청이 있을 때만 올려드릴게요! <br>
                       <br>
                       - 첫 번째 줄은 정렬하고 시작하면 좋아요!<br>
                       -  첫번째 줄일 때는 3,7...보다는 3,4... 처럼 혹시나 6콤보를 달성하는 것을 노려보는 것도 좋아요!<br>
                       - 2처럼 작은 수 다음으로는 3처럼 보다 큰 숫자가 오게 하면 좋아요!<br>
                       - 19처럼 큰 수 다음으로는 18 등 작은 숫자가 오게 하면 좋아요!<br>
                    </span>
             </td>
        </tr>
        </table>
    </div>
</body>
