<!DOCTYPE>

<html>
<head>
    <title>Arithmetic Sequence Game Archive</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="수열게임 유저 아카이브에요!">
    <meta name="keywords" content="캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/thisiscss.css">
    <script type="text/javascript" src="js/thisisjavascript.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <!-- Arithmetic Sequence Game Explanation -->
  <div id ="general_page">
        <table id="arithmetic_table">
        <tr height="5%">
        <tr height="30%">
            <td width="16%"></td>
            <td>
                   <span id="arithmetic_title">Arithmetic Sequence Game Archive<br></span>
                   <span id="arithmetic_info">
                       Arithmetic Sequence Game은 귀여운 수열 게임이에요! <br>
                       즐거운 게임이 되었나요?<br>
                       본인의 기록을 아카이브에 올리고 싶다면 <올리고 싶은 닉네임>, <게임을 플레이한 캡쳐본>과 함께 KyaRyunHa에게 문의를 주세요! <br>
                       개인당 최대 3개의 기록까지 닉네임과 함께 적어놓을게요! <br>
                       순서는 업데이트 순서입니다! 본인의 점수를 언제든 업데이트 하고 싶다면 문의 주세요! <br>
                       <br>
                       shiftpsh  - 411점 ( 2018.10.15 )<br>
                       gs12117   - 278점 ( 2018.10.15 )<br>
                       KyaRyunHa - 133점 ( 2018.10.15 )<br>
                       Sanya     - 331점 ( 2018.10.15 )<br>
                       nicechloe - 250점 ( 2018.10.15 )<br>
                       KyaRyunHa -  85점 ( 2018.10.14 )<br>
                   </span>
            </td>
       </tr>
       </table>
   </div>
</body>
