<!DOCTYPE>

<html>
<head>
    <title>귀여운 그래프 그려요!</title>
    <meta name="author" content="캬륜하,KyaRyunHa">
    <meta name="description" content="귀여운 그래프 그려요!">
    <meta name="keywords" content="Graph,DrawingGraph,그래프,그래프그리기,그래프그리기프로그램,그래프그리기사이트,캬륜하,KyaRyunHa">
    <link rel="stylesheet" type="text/css" href="css/drawgraph.css">
    <script type="text/javascript" src="js/drawgraph.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body onload="drawgraph_graphicgraph()">
    <!-- Graph Page -->
    <div id ="third_page">
        <table id="drawgraph_table">
        <tr>
            <td>
                   <div>
                       <a href="drawgraph" id="drawgraph_title">Draw Graph</a>
                       <span width="10%"></span>
                       <div id = "linking">
                            <a href="drawgraph" id="kyaryunha_link"><i>DrawGraph</i></a>
                            <a href="drawgraph_introduce" id="kyaryunha_link"><i>Introduce</i></a>
                            <a href="drawgraph_upgrade" id="kyaryunha_link"><i>Upgrade</i></a> 
                            <a href="kyaryunha" id="kyaryunha_link"><i>Kyaryunha</i></a>
                       </div>
                    </div>
                   <div id="drawgraph_pan"> </div>
                   
            </td>
        </tr>
       </table>
   </div>
</body>
</html>
