<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Japanese</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#FFDF65">
        <div class="container">
            <h1 class="display-3">Read, Japanese!</h1>
            <p>이 사이트는 제작자가 일본어 공부를 하려고 만들었습니다.</p>
            <p><a class="btn btn-warning btn-lg" href="hiragana.html" role="button"> Start Read Hiragana &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Hiragana</h2>
                <p> 히라가나를 배울 수 있습니다. 50자의 히라가나를 퀴즈 형식을 통해 맞춰봅시다. 히라가나표 힌트를 보고 할 수도 있으며, 찾아보며 퀴즈를 풀다보면, 어느새 점점 힌트를 보지 않고 풀 수 있는 자신을 볼 수 있을 것입니다. </p>
                <p><a class="btn btn-secondary" href="hiragana.html" role="button">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Katakana</h2>
                <p> 카타카나를 배울 수 있습니다. 50자의 카타카나를 퀴즈 형식을 통해 맞춰봅시다. 카타카나표 힌트를 보고 할 수도 있으며, 찾아보며 퀴즈를 풀다보면, 어느새 점점 힌트를 보지 않고 풀 수 있는 자신을 볼 수 있을 것입니다. </p>
                <p><a class="btn btn-secondary" href="katakana.html" role="button">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Word</h2>
                <p>간단한 일본어 단어들을 배울 수 있습니다. 히라가나와 카타카나로 주어진 단어를 어떻게 읽는지 맞추면 단어의 뜻이 나타납니다. 히라가나와 카타카나를 모두 외운 다음에 진행해주시기 바랍니다. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; kyaryunha 2019-2020</p>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>